<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Custom CSS -->
<!-- <link rel="stylesheet" type="text/css" href="../../static/assets/css/blog-post.css"> -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>-->

    <!-- Page Content -->
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
    			<h2 class="text-center">Related news</h2><hr>
	    			<div class="hidden-sm hidden-xs">
	    				<div class="well">
				          <h4>Course Catalog</h4>
					          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
					          <h5 class="title text-center"><a href="/projectsite/page1">News 1</a></h5>
				        </div><hr>
				        
				        <div class="well">
				          <h4>Course Catalog</h4>
					          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
					          <h5 class="title text-center"><a href="/projectsite/page2">News 1</a></h5>
				        </div><hr>
				        
				        <div class="well">
				          <h4>Course Catalog</h4>
					          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
					          <h5 class="title text-center"><a href="/projectsite/page3">News 1</a></h5>
				        </div><hr>
				        
				        <div class="well">
				          <h4>Course Catalog</h4>
					          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
					          <h5 class="title text-center"><a href="/projectsite/page4">News 1</a></h5>
				        </div><hr>				        
				    </div>
			 </div>
            <!-- Blog Post Content Column -->
            <div class="col-lg-9">
                <!-- Blog Post -->
                <!-- Title -->
                <h2>Rahul hits century on debut as India crush Zimbabwe in series opener</h2>
                <!-- Author -->
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">KL Rahul became the first Indian to hit a century on his ODI debut as India crushed Zimbabwe by nine wickets in the first One-Day International in Harare, on Saturday.</p>
                <p>Chasing a paltry target of 169, the Indian batsmen hardly broke sweat as they comfortably cruised home in 42.3 overs. </p>
                <p>Debutant Rahul completed his coveted three-figure landmark with a huge six over mid-wicket off seamer Hamilton Masakadza, with only two runs needed for victory, to end the match in grand style.</p>
                <p>He found an able ally in Ambati Rayudu (62 not out) as they added 162 runs in 38 overs for the unbroken second wicket stand even though the Hyderabadi batsman was not at his fluent best.</p>
                <p>Rahul also became the highest individual scorer on debut eclipsing Robin Uthappa's 86 against England on his ODI debut in Indore in 2006. Jasprit Bumrah shone with the ball as he claimed four for 28 as Zimbabwe folded for a lowly 168.</p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                
                
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Sachin Dada
                            <small>June 11, 2016 at 22:55 IST</small>
                        </h4>
                        It was an early morning start and the ball moved around. Sran, who did well in the IPL, was on the money from ball one. He could have had Chamu Chibhabha lbw on his very first ball but the umpire thought the in-swinger did a bit too much, in his first over.
                    </div>
                </div><hr>
                
                	<h3 class ="title text-center">What to read next</h3><hr>
					    <div class="im-centered">
					    <div class="row">
					    <div class="col-md-3" style="margin-right:70;">
					          <h4>Course Catalog</h4>
						          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
						         <!--  <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
						          <button class="btn btn-sm btn-block btn-warning">Download</button> -->
						          <h5 class="title text-center"><a href="/projectsite/page1">News 1</a></h5>
					    </div>
					    
					    <div class="col-md-3" style="margin-right:70;">
					          <h4>Course Catalog</h4>
						          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
						         <!--  <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
						          <button class="btn btn-sm btn-block btn-warning">Download</button> -->
						          <h5 class="title text-center"><a href="/projectsite/page2">News 1</a></h5>
					    </div>
					    
					    <div class="col-md-3">
					          <h4>Course Catalog</h4>
						          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
						         <!--  <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
						          <button class="btn btn-sm btn-block btn-warning">Download</button> -->
						          <h5 class="title text-center"><a href="/projectsite/page3">News 1</a></h5>
					    </div>
					    
					    <div class="col-md-3">
					          <h4>Course Catalog</h4>
						          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
						         <!--  <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
						          <button class="btn btn-sm btn-block btn-warning">Download</button> -->
						          <h5 class="title text-center"><a href="/projectsite/page4">News 1</a></h5>
					    </div>
					    
					    </div>
					    </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

<!-- jQuery -->
<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
