<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Custom CSS -->
<!-- <link rel="stylesheet" type="text/css" href="../../static/assets/css/blog-post.css"> -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body> 	
    <!-- Page Content -->
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
    			<h2 class="text-center">Related news</h2><hr>
	    			<div class="hidden-sm hidden-xs">
	    				{% for i in news %}
					        <div class="well">
					          <h4>Latest News</h4>
						          <p><a href="#"><img src="{{ i.photo }}" class="img-responsive"></a></p>
						          <h5 class="title text-center"><a href="/projectsite/page1/{{ i.nid }}">{{ i.heading }}</a></h5>
					        </div><hr>
        				{% endfor %}
				        
				       <!--  <div class="well">
				          <h4>Course Catalog</h4>
					          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
					          <h5 class="title text-center"><a href="/projectsite/page3">News 1</a></h5>
				        </div><hr>
				        
				        <div class="well">
				          <h4>Course Catalog</h4>
					          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
					          <h5 class="title text-center"><a href="/projectsite/page4">News 1</a></h5>
				        </div><hr>
				        
				        <div class="well">
				          <h4>Course Catalog</h4>
					          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
					          <h5 class="title text-center"><a href="/projectsite/page5">News 1</a></h5>
				        </div><hr>	 -->			        
				    </div>
			 </div>
            <!-- Blog Post Content Column -->
            {% for i in side  %}
            <div class="col-lg-9">
                <!-- Blog Post -->
                <!-- Title -->
                <h2>{{ i.heading }}</h2>
                <!-- Author -->
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                <hr>
                <!-- Preview Image -->
                <img class="img-responsive" src="{{ i.photo }}" alt="">
                <hr>
                <!-- Post Content -->
                <p class="text-justify text-default">{{ i.desc|safe }}</p>
                <hr>
			{% endfor %}
                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                
                
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Sachin Dada
                            <small>June 11, 2016 at 22:55 IST</small>
                        </h4>
                        It was an early morning start and the ball moved around. Sran, who did well in the IPL, was on the money from ball one. He could have had Chamu Chibhabha lbw on his very first ball but the umpire thought the in-swinger did a bit too much, in his first over.
                    </div>
                </div><hr>
                
                	<h3 class ="title text-center">What to read next</h3><hr>
					    <div class="im-centered">
					    <div class="row">
					   {% for i in news %}
						    <div class="col-md-4">
							          <p><a href="#"><img src="{{ i.photo }}" class="img-responsive"></a></p>
							          <h5 class="title text-center"><a href="/projectsite/page1/{{ i.nid }}">{{ i.heading }}</a></h5>
						    </div>
					    {% endfor %}
					    
					    <!-- <div class="col-md-3" style="margin-right:70;">
					          <h4>Course Catalog</h4>
						          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
						          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
						          <button class="btn btn-sm btn-block btn-warning">Download</button>
						          <h5 class="title text-center"><a href="/projectsite/page3">News 1</a></h5>
					    </div>
					    
					    <div class="col-md-3">
					          <h4>Course Catalog</h4>
						          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
						          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
						          <button class="btn btn-sm btn-block btn-warning">Download</button>
						          <h5 class="title text-center"><a href="/projectsite/page4">News 1</a></h5>
					    </div>
					    
					    <div class="col-md-3">
					          <h4>Course Catalog</h4>
						          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
						          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
						          <button class="btn btn-sm btn-block btn-warning">Download</button>
						          <h5 class="title text-center"><a href="/projectsite/page5">News 1</a></h5>
					    </div> -->
					    
					    </div>
					    </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

<!-- jQuery -->
<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
