<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- JQUERY.js  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<style>
.pagetitle {border-bottom:1px solid #cccccc; padding-bottom:30px; margin-bottom:30px;}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
</style>

<div class="row-fluid top30 pagetitle">
  <div class="container">
    <div class="row">
    	<div class="col-md-12 text-center"><h1>Sports News</h1></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- <h4 class="">Search</h4>
		      <div class="input-group">
		        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
		        <div class="input-group-btn">
		          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
		          </button>
		        </div>
		      </div>
      	   <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse" data-target="#demo">Refine your search <span class="caret"></span></button> -->
      
      <!-- <div id="demo" class="collapse in">
        <hr>
        <div class="list-group list-group">
          <h4 class="">Category</h4>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item <span class="label label-primary">New</span></a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>	
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>	
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a> 
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          
          <div id="categories" class="collapse">
            
            <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
            <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
            <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a> 
            <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
            <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          </div>
          
          
          <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span class="caret"></span></button>
          
          <hr class="">
          <h4 class="">Viewing Options</h4>
          <a href="#" class="list-group-item"><span class="badge">14</span> Upcoming Sessions</a>
          
          <a href="#" class="list-group-item"><span class="badge">3</span> OnDemand</a>
          <hr class="">	
          <a href="#" class="list-group-item">Archived Courses</a>
          <a href="#" class="list-group-item">Courses In Development</a>
        </div>
      </div>-->
      
      <div class="hidden-sm hidden-xs">
        <!--  <hr>
        <div class="well">
          <h4>Premium Membership</h4>
          <p>Gain unlimited access to our entire course library.</p>
          <button class="btn btn-sm btn-warning">Learn more</button>
          <hr>
          <p class="text-center ">Already a member? <a href="#">Sign in.</a></p>
        </div>
        <hr>-->
        {% for i in news %}
        <div class="well">
          <h4>Latest News</h4>
	          <p><a href="/projectsite/page1/{{ i.nid }}"><img src="{{ i.photo }}" class="img-responsive"></a></p>
	          <h5 class="title text-center"><a href="/projectsite/page1/{{ i.nid }}">{{ i.heading }}</a></h5>
        </div><hr>
        {% endfor %}
        <!-- <div class="well">
          <h4>Course Catalog</h4>
	          <p><a href="#"><img src="../../static/assets/image/new2/11-wales-goal-1.jpg" class="img-responsive"></a></p>
	          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
	          <button class="btn btn-sm btn-block btn-warning">Download</button>
	          <h5 class="title text-center"><a href="/projectsite/page2">News 1</a></h5>
        </div><hr>
        
        <div class="well">
          <h4>Course Catalog</h4>
	          <p><a href="#"><img src="../../static/assets/image/new2/11-wales-goal-2.jpg" class="img-responsive"></a></p>
	          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
	          <button class="btn btn-sm btn-block btn-warning">Download</button>
	          <h5 class="title text-center"><a href="/projectsite/page3">News 1</a></h5>
        </div><hr>
        
        <div class="well">
          <h4>Course Catalog</h4>
	          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
	          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
	          <button class="btn btn-sm btn-block btn-warning">Download</button>
	          <h5 class="title text-center"><a href="/projectsite/page4">News 1</a></h5>
        </div><hr>
        
        <div class="well">
          <h4>Course Catalog</h4>
	          <p><a href="#"><img src="http://placehold.it/250X200" class="img-responsive"></a></p>
	          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
	          <button class="btn btn-sm btn-block btn-warning">Download</button>
	          <h5 class="title text-center"><a href="/projectsite/page5">News 1</a></h5>
        </div><hr> -->
        
      </div>
      
    </div>
 <div class="col-md-9">
      <!-- <div class="well hidden-xs"> 
        <div class="row">
          <div class="col-xs-4">
            <select class="form-control">
              <option>Featured</option>
              <option>Recently Added</option>
              <option>Next Upcoming Session</option>
              <option>A-Z</option>
              <option>Z-A</option>
            </select>
          </div>
          <div class="col-xs-8">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span></button>
              <button type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th-list"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>
            </div>
          </div>
         </div>
      </div>
      <hr> -->
      {% for i in news %}
		<div class="row">
    		<div class="col-sm-4"><a href="/projectsite/page1/{{ i.nid }}"><img class="img-responsive img-thumbnail" src="{{ i.photo }}" alt=""></a></div>
        		<div class="col-sm-8">
		          <h3 class="title"><a href="/projectsite/page1/{{ i.nid }}">{{ i.heading }}</a></h3>
		          <p class="text-muted"><span class="glyphicon glyphicon-time"></span> Last updated on: June 11, 2016 at 22:55 IST</p>
		          <p class="text-muted">Presented by <a href="#">Bittu Bharat</a></p>
		          <p class="more text-justify text-default">{{ i.desc }}</p>
        		</div>
    	</div><hr>
       {% endfor %}
    
    <!-- <div class="row">
    	<div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a></div>
        	<div class="col-sm-8">
	          <h3 class="title"><a href="/projectsite/page2">Bale, Robson-Kanu give Wales 2-1 win over Slovakia</a></h3>
	          <p class="text-muted"><span class="glyphicon glyphicon-time"></span> Last updated on: June 11, 2016 at 22:55 IST</p>
	          <p class="text-muted">Presented by <a href="#">Bittu Bharat</a></p>
	          <p class="more text-justify text-default">In their first game in a major European Championship for 58 years, Wales took a huge step towards qualification for the Euro 2016 knockouts with a 2-1 over Slovakia. Wales forward Gareth Bale got their Euro 2016 campaign off to a dream start with an early goal as they beat Slovakia 2-1 in the Group B opener on Saturday.</p>
        	</div>
    </div><hr>
    
    <div class="row">
    	<div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a></div>
        	<div class="col-sm-8">
	          <h3 class="title"><a href="/projectsite/page3">Woakes, Hales help England to 237 lead vs SL in third Test</a></h3>
	          <p class="text-muted"><span class="glyphicon glyphicon-time"></span> Last updated on: June 11, 2016 at 22:55 IST</p>
	          <p class="text-muted">Presented by <a href="#">Bittu Bharat</a></p>
	          <p class="more text-justify text-default">Wickets fell quickly on the third day of the third and final test on Saturday as England reached the close on 109 for four, 237 runs ahead of Sri Lanka. England picked up five wickets in the morning to bowl out the touring side for 288 and close in on a series whitewash but Sri Lanka hit back, claiming three quick wickets to give themselves a chance of a consolation victory.</p>
        	</div>
    </div><hr>
    
    <div class="row">
    	<div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a></div>
        	<div class="col-sm-8">
	          <h3 class="title"><a href="/projectsite/page4">Hockey Champions Trophy: India beat Great Britain 2-1</a></h3>
	          <p class="text-muted"><span class="glyphicon glyphicon-time"></span> Last updated on: June 11, 2016 at 22:55 IST</p>
	          <p class="text-muted">Presented by <a href="#">Bittu Bharat</a></p>
	          <p class="more text-justify text-default">India's defence held its ground against desperate Great Britain as they clinched a 2-1 victory in the 36th Champions Trophy in London on Saturday. The victory puts India at the top of the league standings with four points.</p>
        	</div>
    </div><hr>
    
    <div class="row">
    	<div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a></div>
        	<div class="col-sm-8">
	          <h3 class="title"><a href="/projectsite/page5">Lewis Hamilton wins Monaco GP</a></h3>
	          <p class="text-muted"><span class="glyphicon glyphicon-time"></span> Last updated on: June 11, 2016 at 22:55 IST</p>
	          <p class="text-muted">Presented by <a href="#">Bittu Bharat</a></p>
	          <p class="more text-justify text-default">Lewis Hamilton celebrated his first win of the Formula One season at the Monaco Grand Prix on Sunday after Mercedes told team mate Nico Rosberg to move aside and Red Bull wrecked Daniel Ricciardo's chances.</p>
        	</div>
    </div><hr> -->
    
    <h2 class ="title text-center">What to read next</h2><hr>
    <div class="im-centered">
    <div class="row">
    {% for i in news %}
    <div class="col-md-4">
	          <p><a href="/projectsite/page1/{{ i.nid }}"><img src="{{ i.photo }}" class="img-responsive"></a></p>
	          <h5 class="title text-center"><a href="/projectsite/page1/{{ i.nid }}">{{ i.heading }}</a></h5>
    </div>
    {% endfor %}
    
    <!-- <div class="col-md-3">
          <h4>Course Catalog</h4>
	          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
	          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
	          <button class="btn btn-sm btn-block btn-warning">Download</button>
	          <h5 class="title text-center"><a href="/projectsite/page3">News 1</a></h5>
    </div>
    
    <div class="col-md-3">
          <h4>Course Catalog</h4>
	          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
	          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
	          <button class="btn btn-sm btn-block btn-warning">Download</button>
	          <h5 class="title text-center"><a href="/projectsite/page4">News 1</a></h5>
    </div>
    
    <div class="col-md-3">
          <h4>Course Catalog</h4>
	          <p><a href="#"><img src="http://placehold.it/200X150" class="img-responsive"></a></p>
	          <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>
	          <button class="btn btn-sm btn-block btn-warning">Download</button>
	          <h5 class="title text-center"><a href="/projectsite/page5">News 1</a></h5>
    </div> -->
    
    </div>
    </div>
    </div>
  </div>
</div><hr>

<script type="text/javascript">
$(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 100;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
</script>